body {
  background-color: #e4e4e4;
}

.todo-input {
  margin-right: 10px;
}

.todo-submit {
  margin-right: 10px;
}

.todo-delete {
  margin-right: 12px;
  margin-bottom: 8px;  
}

button {
  border-radius: 2px;
}
